@model ÜyeKayıtFramework.Mvc.WebUI.Models.MemberAddViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Kayıt Formu</h2>
            <p class="lead">Lütfen bilgilerinizi giriniz</p>
            <p class="lead">@Html.ValidationMessage("MemberException")</p>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Bilgileriniz</h4>
                @using (Html.BeginForm())
                {

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Adınız</label>
                            <input type="text" class="form-control" id="firstName" name="member.firstName" placeholder="" value="" >

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Soyadınız</label>
                            <input type="text" class="form-control" id="lastName" name="member.lastName" placeholder="" value="" >

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Tc Kimlik Numaranı</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="tcNo" name="member.tcNo" placeholder="Tc kimlik numaranız" >

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" name="member.email" placeholder="you@example.com">

                    </div>

                    <div class="mb-3">
                        <label for="address">Doğum tarihiniz</label>
                        <input type="text" class="form-control" id="dateOfBirth" name="member.dateOfBirth" placeholder="06/01/1985">

                    </div>



                    <button class="btn btn-primary btn-lg btn-block" type="submit">Kayıt Ol</button>
                }


            </div>
        </div>

        
    </div>
    
</body>
</html>
