
@{
    ViewBag.Title = "Add";
}
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />



</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td>
                    Merih
                </td>
                <td>
                    Korkmaz
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
<h2>Add</h2>

